http://{$MDA_HOSTNAME:localhost}:{$CADDY_HTTP_PORT:80} {
	redir https://{$MDA_HOSTNAME:localhost}:{$CADDY_HTTPS_PORT:443}{uri} permanent
}

{$MDA_HOSTNAME:localhost}:{$CADDY_HTTPS_PORT:443} {
	tls internal
	encode zstd gzip

	header Permissions-Policy "clipboard-write=(self)"

	@backend path /graphql /graphiql* /health /health/* /video* /image/* /media/* /thumbnails/* /hls/* /transcoded/* /file-preview* /download* /api* /compress-preview*
	reverse_proxy @backend app:4000

	reverse_proxy app:3000
}
