{$MDA_HOSTNAME:localhost} {
	tls internal
	encode zstd gzip

	header Permissions-Policy "clipboard-write=(self)"

	@backend path /graphql /graphiql* /health /health/* /video* /image/* /media/* /thumbnails/* /hls/* /transcoded/* /file-preview* /download* /api* /compress-preview*
	reverse_proxy @backend app:4000

	reverse_proxy app:3000
}
